@font-face {
  font-family: "iconfont"; /* Project id 3855228 */
  src:
    url("//at.alicdn.com/t/c/font_3855228_7vz93lcyd6r.woff2?t=1714290831078")
      format("woff2"),
    url("//at.alicdn.com/t/c/font_3855228_7vz93lcyd6r.woff?t=1714290831078")
      format("woff"),
    url("//at.alicdn.com/t/c/font_3855228_7vz93lcyd6r.ttf?t=1714290831078")
      format("truetype"),
    url("//at.alicdn.com/t/c/font_3855228_7vz93lcyd6r.svg?t=1714290831078#iconfont")
      format("svg");
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-a-biyexueyeboshimao:before {
  content: "\e89d";
}

.icon-AIzhineng:before {
  content: "\e679";
}

.icon-shuju:before {
  content: "\e6af";
}
